.detailChapterWrapper {
    // width: 75%;
    max-height: 100%;
    margin-top: 30px;
}
div.detailChapterWrapper > h2 {
    display: flex;
    justify-content: flex-start;
    font: 50px 'Kanit', sans-serif;
    margin-bottom: 30px;
}
div.detailChapterWrapper ul {
    display: flex;
    // flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
img {
    max-width: 96%;
    max-height: 100%;
    width: 100%;
    height: auto;
}
