.wrapper {
    // display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    // padding-top: 60px;
    margin-top: 50px;
    .comics-info {
        position: relative;
        margin: 0 auto;
        width: 55vw;
        height: 251px;
        margin-bottom: 25px;
        display: flex;
        // margin-left: 60px;
    }
}

.comic-info {
    // position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.comic-info:first-child {
    padding-top: 0;
}
.img-thumnail {
    position: relative;
    width: 200px;
    height: 250px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    overflow: hidden;
    // margin-left: 40px;
    img:hover {
        transform: scale(1.05);
    }
    img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        object-fit: contain;
        // border: 1px solid #ffffff;
        display: block;
        margin: 0 auto;
        transition: transform 0.2s ease-in-out;
    }
}

.info {
    // margin-left: 60px;
    width: 40vw;
    display: flex;
    flex-direction: column;
}
.title {
    font: bold 32px/38px 'Roboto', sans-serif;
    margin: 20px 0px;
    overflow: hidden;
}
.chapter {
    font: 13px 'Roboto', sans-serif;
    margin-bottom: 15px;
    color: #b1b3b2;
    overflow: hidden;
}
.des {
    font: 13px 'Roboto', sans-serif;
    display: inline-block;
    min-height: 70px;
    max-width: 656px;
    margin-bottom: 15px;
    overflow: hidden;
    word-wrap: break-word;
}
.view {
    font: 13px 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

// a:hover {
//     color: #7f8ddd;
//     cursor: pointer;
// }

a[href]:hover {
    color: #7f8ddd;
    cursor: pointer;
}
h1.allComics {
    margin-bottom: 80px;
    font-size: 80px;
    font-family: 'Titan One', cursive;
    color: rgb(247, 0, 0);
    -webkit-text-stroke: 1px #121212;
    // -webkit-text-fill-color: transparent;
    // display: inline-block; /* Add this line */
}
