.wrapper-footer {
    width: 1170px;
}

.logoFooter {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    font-weight: 400;
    // letter-spacing: 0;
    // line-height: small;
    // position: absolute;
    text-align: center;
}
.copyright {
    text-align: center;
    font: 14px 'Roboto', Helvetica;

    // padding: 10px 0px 10px 0px;
    // padding-top: 7px;
}
